@charset "UTF-8";@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500|Ubuntu:300,400");@import url("https://fonts.googleapis.com/css?family=Oswald:400,500");body{background:white;color:#666666;line-height:1rem;font-family:"Ubuntu", sans-serif;font-weight:300;}
a{transition:0.5s;}
a:hover, a:focus, a:active{text-decoration:none;color:#2d51a3;}
section{padding:3rem 1rem;}
input, textarea{width:100%;padding:0.5rem 1.5rem;border:none;border-bottom:1px solid #003366;margin-bottom:1rem;}
.sectionT, .sectionBanner, .sectionPartners{color:#495057;font-size:2.5rem;font-weight:300;margin-top:0;margin-bottom:1rem;font-family:"Roboto", sans-serif;line-height:3.5rem;}
.infoT{font-size:1.5rem;color:inherit;font-weight:300;font-family:"Roboto", sans-serif;}
.p-tagline{max-width:750px;margin:0 auto;}
.container-fluid{padding:0;}
.marginT{margin-top:1.5rem;}
.marginB, .form-field-wrapper{margin-bottom:1.5rem;}
.backWhite{background:white;}
.backGray{background:#f9f9f9;}
.lineHeight{line-height:1.5rem;}
@media (min-width:992px){body{margin-top:45px;}
}
@media (max-width:991px){body{margin-top:42px;}
section{padding:2.5rem 1rem;}
}
@media (max-width:767px){section{padding:0.5rem 0.8rem;}
input, textarea{width:100%;padding:0.2rem 0.2rem;margin-bottom:0.5rem;}
.sectionT, .sectionBanner, .sectionPartners{font-size:2rem;margin-top:0;margin-bottom:0.8rem;line-height:2.5rem;}
.infoT{font-size:1rem;}
.marginT{margin-top:1rem;}
.marginB, .form-field-wrapper{margin-bottom:1rem;}
}
@media (max-width:575px){body{margin-top:40px;}
section{padding:0.8rem 0.5rem;}
input, textarea{width:100%;padding:0.5rem 0.2rem;margin-bottom:0.2rem;}
.sectionT, .sectionBanner, .sectionPartners{font-size:1.5rem;margin-top:0;margin-bottom:0.5rem;line-height:1.5rem;}
.infoT{font-size:0.5rem;}
}
.site-header{background:white;transition:.5s;}
.site-header.navbarAdded{box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.2);}
.navbar-brand{margin-top:0.7rem;}
.navbar-brand img{display:inline-block;float:left;}
.navbar-brand p{color:#2d51a3;font-size:1rem;font-weight:300;font-family:"Ubuntu", sans-serif;margin-bottom:0;}
.navbar{padding:0;}
.main-nav .nav-item .nav-link{margin-left:1rem;text-transform:uppercase;padding-left:0.5rem;padding-right:0.5rem;}
.dropdown-item{text-transform:uppercase;}
.main-nav a.nav-link, .main-nav .dropdown-item{color:#2d51a3;font-family:"Oswald", sans-serif;font-weight:400;font-size:0.8rem;letter-spacing:3px;}
.main-nav a.nav-link:hover, .main-nav .dropdown-item:hover{color:#003366;}
@media screen and (max-width:991px){.main-nav .nav-item .nav-link{margin-left:0;}
.navbar-brand{margin-top:0.4rem;}
.navbar-toggler{background-image:url("../img/icon.png");color:#2d51a3;cursor:pointer;}
}
@media (max-width:767px){.site-header{background:#f9f9f9;}
.navbar{padding:0.2rem;}
.navbar-brand{margin-top:0;}
.navbar-brand img{display:none;}
}
@media (max-width:575px){.navbar-brand{margin-left:1rem;}
.navbar-toggler{margin-right:1rem;}
}
.carouselh3{margin-bottom:2rem;font-family:"Oswald", sans-serif;font-weight:500;font-size:3rem;text-shadow:3px 3px 15px rgba(0, 0, 0, 0.9);}
.img-carou{width:100%;height:auto;}
@media (max-width:991px){.carousel-caption{bottom:10px;padding-bottom:10px;}
.carouselh3{margin-bottom:1rem;font-size:2rem;text-shadow:5px 5px 35px rgba(0, 0, 0, 0.9);}
}
@media (max-width:767px){.carousel-caption{bottom:0;padding-bottom:0;}
.carouselh3{font-size:1.5rem;}
}
@media (max-width:575px){.carouselh3{font-size:1rem;}
}
img{min-height:100%;}
.navMargin{margin-top:1rem;}
.nav-link{cursor:pointer;font-family:"Oswald", sans-serif;text-transform:uppercase;letter-spacing:2px;}
.nav-link.active{color:#2d51a3 !important;}
.tab-pane{margin-top:1.5rem;line-height:2rem;font-weight:300;text-align:justify;}
.tab-content{padding-bottom:1.5rem;}
.missionList{list-style:none;margin-top:1rem;}
@media (max-width:575px){.nav-link{padding:0.3rem;}
}
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{position:relative;overflow:hidden;display:block;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;cursor:hand;}
.slick-slider .slick-track,
.slick-slider .slick-list{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.slick-track{position:relative;left:0;top:0;display:block;margin-left:auto;margin-right:auto;}
.slick-track:before, .slick-track:after{content:"";display:table;}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{float:left;height:100%;min-height:1px;display:none;}
[dir="rtl"] .slick-slide{float:right;}
.slick-slide img{display:block;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
.slick-arrow.slick-hidden{display:none;}
.contactSlick img{height:calc(80vh - 100px);width:auto;margin:0 auto;}
@media (max-width:767px){.contactSlick img{height:calc(50vh - 100px);width:auto;margin:0 auto;}
}
@media (max-width:400px){.contactSlick img{height:calc(50vh - 100px);width:100%;margin:0 auto;}
}
.slick-loading .slick-list{background:#fff url("./ajax-loader.gif") center center no-repeat;}
@font-face{font-family:"slick";src:url("./fonts/slick.eot");src:url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");font-weight:normal;font-style:normal;}
.slick-prev,
.slick-next{position:absolute;display:block;height:20px;width:20px;line-height:0px;font-size:0px;cursor:pointer;background:transparent;color:transparent;top:50%;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);transform:translate(0, -50%);padding:0;border:none;outline:none;}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus{outline:none;background:transparent;color:transparent;}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before{opacity:1;}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before{opacity:0.25;}
.slick-prev:before,
.slick-next:before{font-family:"slick";font-size:20px;line-height:1;color:white;opacity:0.75;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.slick-prev{left:-25px;}
[dir="rtl"] .slick-prev{left:auto;right:-25px;}
.slick-prev:before{content:"←";}
[dir="rtl"] .slick-prev:before{content:"→";}
.slick-next{right:-25px;}
[dir="rtl"] .slick-next{left:-25px;right:auto;}
.slick-next:before{content:"→";}
[dir="rtl"] .slick-next:before{content:"←";}
.slick-dotted.slick-slider{margin-bottom:30px;}
.slick-dots{position:absolute;bottom:-25px;list-style:none;display:block;text-align:center;padding:0;margin:0;width:100%;}
.slick-dots li{position:relative;display:inline-block;height:20px;width:20px;margin:0 5px;padding:0;cursor:pointer;}
.slick-dots li button{border:0;background:transparent;display:block;height:20px;width:20px;outline:none;line-height:0px;font-size:0px;color:transparent;padding:5px;cursor:pointer;}
.slick-dots li button:hover, .slick-dots li button:focus{outline:none;}
.slick-dots li button:hover:before, .slick-dots li button:focus:before{opacity:1;}
.slick-dots li button:before{position:absolute;top:0;left:0;content:"•";width:20px;height:20px;font-family:"slick";font-size:6px;line-height:20px;text-align:center;color:black;opacity:0.25;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.slick-dots li.slick-active button:before{color:black;opacity:0.75;}
.licenses{line-height:2rem;}
.package-list{width:250px;margin:0 auto;}
.package-img{border-radius:50%;overflow:hidden;margin:10px;border:2px solid transparent;cursor:pointer;transition:1s;}
.package-img.slick-center{border-color:#2d51a3;box-shadow:0 0 20px 1px rgba(0, 0, 0, 0.15);transform:scale(1.2);cursor:default;}
.slick-track{height:auto !important;}
.package-meta h4{color:#495057;font-family:"Roboto", sans-serif;font-weight:500;font-size:1rem;}
@media (max-width:575px){padding-left:1rem;padding-right:1rem;}
.fleet-filter{margin:0 1rem;padding:0;}
.fleet-filter li{display:inline-block;list-style:none;margin-bottom:1rem;}
.fleet-filter li a{cursor:pointer;color:#495057 !important;font-family:"Roboto", sans-serif;font-size:1rem;font-weight:500;margin:0 1rem;}
.fleet-filter li a.active{color:#2d51a3 !important;}
.elementsMargin{margin-left:-20px;margin-right:-20px;}
.fleet-box{position:relative;overflow:hidden;}
.fleet-box a.fleet-popup{display:block;}
.fleet-box .fleet-image-wrap{display:block;transition:all 2s ease;}
.fleet-box .fleet-image-wrap img{width:100%;}
.fleet-box:hover .fleet-image-wrap{transform:scale(1.2);}
.fleet-box .fleet-overlay{background:rgba(45, 81, 163, 0.7);height:100%;left:0;top:0;opacity:0;position:absolute;width:100%;transition:all 1.5s ease-in-out;}
.fleet-box .fleet-overlay .fleet-overlay-text{bottom:-70px;left:0;opacity:0;padding-left:2rem;padding-right:2rem;position:absolute;transition:all 0.5s ease-in-out;}
.fleet-box:hover .fleet-overlay{opacity:1;}
.fleet-box:hover .fleet-overlay-text{bottom:10%;opacity:1;}
.fleet-overlay-text h5{color:white;}
.fleet-item{display:block;position:relative;float:left;width:33.33333333333333%;height:auto;margin:0;padding:0.5rem;}
@media (max-width:980px){.fleet-item{width:50%;}
.fleet-overlay-text h5{font-size:1rem;}
}
@media (max-width:768px){.fleet-item{width:100%;}
}
@media (max-width:575px){.fleet-filter li{margin-bottom:0.5rem;}
.fleet-filter li a{font-size:0.8rem;margin:0 0.2rem;}
}
.counterBg{background:url(../img/banner1.jpg) no-repeat fixed 0 0;background-size:cover;position:relative;z-index:1;color:#fff;}
.counterBg:after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;z-index:-1;background:rgba(45, 81, 163, 0.65);}
.sectionBanner, .sectionPartners{color:#fff;text-shadow:3px 3px 15px rgba(0, 0, 0, 0.9);}
.counter-group .counter-title{font-family:inherit;font-size:60px;line-height:1;margin-bottom:12px;}
.counter-group .counter-sub-title{text-transform:uppercase;font-weight:600;letter-spacing:1px;margin-bottom:0;}
@media (max-width:767px){.counter-group .counter-title{font-size:2.5rem;}
.counter-group .counter-sub-title{margin-bottom:1rem;}
}
@media (max-width:575px){.counter-group .counter-title{font-size:2rem;}
.counter-group .counter-sub-title{font-size:0.8rem;}
}
.owl-carousel .owl-stage-outer{padding-top:4rem;padding-bottom:3rem;padding-left:0 !important;padding-right:0 !important;}
.testimonial-content{text-align:center;padding:2.5rem;}
.testimonial-content .item{box-shadow:-5px 10px 35px 0px rgba(0, 0, 0, 0.5);position:relative;margin-left:2rem;padding:3.5rem;}
.testimonial-content .item p{line-height:2rem;}
.alumniImg{width:100px;height:100px;border-radius:50%;overflow:hidden;position:absolute;top:0;left:50%;transform:translate(-50%, -50%);}
.text .quote{width:30px;height:30px;margin-bottom:1.5rem;}
.text .name{font-size:0.8em;font-style:italic;}
@media (max-width:767px){.testimonial-content .item{box-shadow:-2px 3px 20px -1px rgba(0, 0, 0, 0.3);}
}
@media (max-width:450px){.alumniImg{width:70px;height:70px;}
.text .quote{width:25px;height:25px;margin-bottom:1rem;}
.text .name{font-size:0.7rem;}
.testimonial-content{padding:1rem;}
.testimonial-content .item{padding:1rem;}
.testimonial-content .item p{line-height:1.5rem;font-size:0.8rem;}
}
.sectionPartners{color:#2d51a3;margin:0;text-shadow:none;}
.partnersBg{background:url(../img/end1.jpg) no-repeat fixed 0 0;background-size:cover;position:relative;padding-top:2rem;padding-bottom:1rem;z-index:1;color:#fff;}
.partnersBg:after{content:'';position:absolute;left:0;top:0;width:100%;height:100%;z-index:-1;background:rgba(255, 255, 255, 0.65);}
.partners-image{height:150px;width:200px;text-align:center;}
.partners-image img{height:100%;}
.owl-stage-outer{padding:2rem !important;}
.footer p{color:#eeeeee;margin:0;}
.footer{background:#222222;font-size:1rem;line-height:50px;}
.footer p.social{text-align:left;padding-top:2rem;}
.footer p.social a{border:1px solid #2d51a3;border-radius:20px;color:#fff;display:inline-block;line-height:44px;margin-left:10px;vertical-align:middle;height:45px;width:45px;text-align:center;font-size:1.5rem;}
.footIcon{background-color:#222222;}
.template{color:#999999;margin:1.2rem;font-size:1rem;}
.template a{color:#999999;}
.social2{padding-top:2rem;text-align:right;}
@media (max-width:767px){.footer p.social, .footer p.social2{text-align:center;margin-bottom:1rem;}
}
@media (max-width:575px){.footer{line-height:1rem;}
}
.card-title a{display:block;padding:10px;font-size:1rem;color:#2d51a3;}
.card-text{padding:1rem;line-height:2rem;text-align:justify;}
.card-icon{margin-right:10px;}
.card.faq{border-radius:0;border:none;border-bottom:1px solid #f1f1f1;padding-top:10px;}
.card.faq:first-child{border-top:1px solid #f1f1f1;}
@media (max-width:575px){.card-title a{padding:5px;}
.card-text{font-size:0.8rem;padding:0 0.8rem;line-height:1.5rem;}
.card-icon{margin-right:5px;}
.card.faq{padding-top:5px;}
}
p.formIntro{line-height:2rem;}
p.formIntro a{color:#2d51a3;}
input::placeholder, textarea::placeholder{font-weight:300;}
.btn-sm{color:#2d51a3;border:1px solid #2d51a3;font-family:"Ubuntu", sans-serif;background-color:transparent;transition:all 1s ease;}
.btn-sm:hover{cursor:pointer;color:white;background-color:#2d51a3;border:1px solid white;transform:scale(1.1);}
.newsletterZero{padding:0;z-index:5;}
#googleMap{z-index:-2;}
.newsletter-wrap{padding:65px;margin-bottom:-45px;background:#2d51a3;color:white;}
.newsletter-wrap h4{color:white;font-size:1.5rem;font-weight:500;font-family:"Roboto", sans-serif;}
.newsletter{max-width:600px;margin:25px auto 0;position:relative;}
.newsletter input{border-radius:10px;height:50px;padding-left:20px;}
.newsletter .btn{color:#000;padding:0;position:absolute;top:1px;right:20px;height:50px;width:50px;font-size:2rem;background:transparent;transition:.5s;}
.newsletter .btn:hover{color:#2d51a3;}
@media screen and (max-width:767px){.newsletter-wrap{padding:70px 15px;}
}
@media screen and (max-width:450px){.newsletter-wrap{padding:40px 15px;}
.newsletter-wrap h4{font-size:1.2rem;}
}
body{overflow:hidden;}
#loading{position:fixed;top:0;left:0;right:0;bottom:0;background:#2C3E50;z-index:99999;}
#loading-center{width:100%;height:100%;position:relative;}
#loading-center-absolute{position:absolute;left:50%;top:50%;height:150px;width:150px;margin-top:-75px;margin-left:-75px;}
.object{width:20px;height:20px;background-color:#FFF;float:left;margin-right:20px;margin-top:65px;-moz-border-radius:50% 50% 50% 50%;-webkit-border-radius:50% 50% 50% 50%;border-radius:50% 50% 50% 50%;}
#object_one{-webkit-animation:object_one 1.5s infinite;animation:object_one 1.5s infinite;}
#object_two{-webkit-animation:object_two 1.5s infinite;animation:object_two 1.5s infinite;-webkit-animation-delay:0.25s;animation-delay:0.25s;}
#object_three{-webkit-animation:object_three 1.5s infinite;animation:object_three 1.5s infinite;-webkit-animation-delay:0.5s;animation-delay:0.5s;}
@-webkit-keyframes object_one{75%{-webkit-transform:scale(0);}
}
@keyframes object_one{75%{transform:scale(0);-webkit-transform:scale(0);}
}
@-webkit-keyframes object_two{75%{-webkit-transform:scale(0);}
}
@keyframes object_two{75%{transform:scale(0);-webkit-transform:scale(0);}
}
@-webkit-keyframes object_three{75%{-webkit-transform:scale(0);}
}
@keyframes object_three{75%{transform:scale(0);-webkit-transform:scale(0);}
}