//******************************************************************************
//***************************Styles for the carousel part***********************
.carouselh3 {
    margin-bottom: 2rem;
    font-family: $os;
    font-weight: 500;
    font-size: 3rem;
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.9);

}
@media (max-width: 991px) {
  .carousel-caption {
    bottom: 10px;
    padding-bottom: 10px;
  }

  .carouselh3 {
      margin-bottom: 1rem;
      font-size: 2rem;
      text-shadow: 5px 5px 35px rgba(0, 0, 0, 0.9);
    }
}  //end 991

@media (max-width: 767px) {
  .carousel-caption {
    bottom: 0;
    padding-bottom: 0;
  }

  .carouselh3 {
      font-size: 1.5rem;
    }
} //end 767

@media (max-width: 575px) {
  .carouselh3 {
      font-size: 1rem;
    }
} //end 575

@media (max-width: 350px) {

} //end 350
