//******************************************************************************
//***************************Counter styles*************************************
.counterBg {
  background: url(../img/banner1.jpg) no-repeat fixed 0 0 ;
  background-size: cover;
  position: relative;
  z-index: 1;
  color: #fff;
  //height:50vh;
//after pseudoelement for overlay purposes
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background:rgba($basicBlue, 0.65);
   }//:after
} //.counterBg
//new class for banner count Section that extends Section T to inherit responsive classes.

.sectionBanner{
  @extend .sectionT;
    color: #fff;
    text-shadow: 3px 3px 15px rgba(0, 0, 0, 0.9);
}

.counter-group {
      .counter-title {
        font-family: inherit;
        font-size: 60px;
        line-height: 1;
        margin-bottom: 12px;
      } //.counter-title
     .counter-sub-title {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 0;
     } //.counter-sub-title
} //counter-group

@media (max-width: 767px) {
    .counter-group {
      .counter-title {
           font-size: 2.5rem ;
      }
      .counter-sub-title {
        margin-bottom: 1rem;
      }
  } //mcounter-group
} //media 767px

@media (max-width: 575px) {
  .counter-group {
      .counter-title {
        font-size: 2rem;
      }
      .counter-sub-title {
        font-size: 0.8rem;
      }
  } //counter-group
} //media 575px
