//******************************************************************************
//***************************FAQ STYLES*****************************************
.card-title {
   a {
    display: block;
    padding: 10px;
    font-size: 1rem;
    color: $basicBlue;
  }
} //.card-title

.card-text {
  padding: 1rem;
  line-height: 2rem;
  text-align: justify;
}

.card-icon {
  margin-right: 10px;
}

.card.faq {
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgb(241, 241, 241);
    padding-top: 10px;
    &:first-child {
      border-top: 1px solid rgb(241, 241, 241);
    }
} //.card.faq

@media (max-width: 575px) {
  .card-title {
     a {
       padding: 5px;
     }
  } //.card-title

  .card-text {
    font-size: 0.8rem;
    padding: 0 0.8rem;
    line-height: 1.5rem;
  } //.card-text

  .card-icon {
    margin-right: 5px;
  }

  .card.faq {
    padding-top: 5px;
  }

} //end 575!
