//******************************************************************************
//***************************FLEET STYLES***************************************

//fleet-filter is the class used for both js isotope control and ul style
.fleet-filter {
  margin: 0 1rem;
  padding: 0;
      li {
        display: inline-block;
        list-style: none;
        margin-bottom: 1rem;
        a {
          cursor: pointer;
          color: rgb(73, 80, 87)!important;
          font-family: $sf;
          font-size: 1rem;
          font-weight: 500;
          margin: 0 1rem;
            &.active {
              color: $basicBlue!important;
            }
        } //a
    } //li
} //fleet-filter end

//elementsMargin class is to reduce the margin between the grid elements
.elementsMargin {
    margin-left: -20px;
    margin-right: -20px;
}

.fleet-box {
    position: relative;
    overflow: hidden;
    a.fleet-popup {
        display: block;
    }
    .fleet-image-wrap {
        display: block;
        transition: all 2s ease;
          img {
            width: 100%;
          }
    } //.fleet-image-wrap
} //fleet-box

//image scale effect on hover
 .fleet-box {
    &:hover {
      .fleet-image-wrap {
        transform: scale(1.2);
      } //.fleet-image-wrap
   } //hover
 } //.fleet-box

// styles to init background ()
.fleet-box {
    .fleet-overlay {
        background: rgba($basicBlue, 0.7);
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        position: absolute;
        width: 100%;
        transition: all 1.5s ease-in-out;
        .fleet-overlay-text {
            bottom: -70px;
            left: 0;
            opacity: 0;
            padding-left: 2rem;
            padding-right: 2rem;
            position: absolute;
            transition: all 0.5s ease-in-out;
        } //.fleet-overlay-text
  } //.fleet-overlay
} //fleet-box
//styles to apply background on hover, both for background and text which comes
//from the bottom -70 to 10%.

.fleet-box {
    &:hover {
      .fleet-overlay {
          opacity: 1;
      }
      .fleet-overlay-text {
          bottom: 10%;
          opacity: 1;
      } //.fleet-overlay-text
  } //hover
} //.fleet-box

.fleet-overlay-text {
    h5 {
      color: $mainWhite;
    }
} //.fleet-overlay-text

 .fleet-item {
    display: block;
    position: relative;
    float: left;
    width: 33.33333333333333%;
    height: auto;
    margin: 0;
    padding: 0.5rem;
 } //.fleet-item

//grid system
@media (max-width: 980px) {
   .fleet-item {
        width: 50%;
    } //.fleet-item

    .fleet-overlay-text {
        h5 {
          font-size: 1rem;
        }
    } //.fleet-overlay-text

} //980 end

@media (max-width: 768px) {
   .fleet-item {
       width: 100%;
   }
} // 768 end

@media (max-width: 575px) {
   .fleet-filter {
      li {
        margin-bottom: 0.5rem;
        a {
          font-size: 0.8rem;
          margin: 0 0.2rem;
        } //a
      }//li
   } //.fleet-filter
} //575end
