//******************************************************************************
//***************************Styles for the navbar part***********************
.site-header {
  background: $mainWhite;
  transition: .5s;
  &.navbarAdded {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  } //.navbarAdded
} //.site-header
.navbar-brand {
  margin-top: 0.7rem;
    img {
      display: inline-block;
      float: left;
    }
    p {
      color: $basicBlue;
      font-size: 1rem;
      font-weight: 300;
      font-family: $pf;
      margin-bottom: 0;
    }
}//.navbar-brand

.navbar {
  padding: 0;
}

.main-nav {
   .nav-item {
     .nav-link {
      margin-left: 1rem;
      text-transform: uppercase;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    } //.nav-link
  }//.nav-item
} //.main-nav

.dropdown-item {
  @extend a.nav-link;
    text-transform: uppercase;
 } //.dropdown-item

.main-nav {
  a.nav-link {
    color: $basicBlue;
    font-family: $os;
    font-weight: 400;
    font-size: 0.8rem;
    letter-spacing: 3px;
    &:hover {
    color: $lighterBlue;
    } //hover
  } //.a.nav-link
} //.main-nav

@media screen and(max-width:991px) {
  .main-nav {
      .nav-item {
         .nav-link {
          margin-left: 0;
      } //.nav-link
    } //.nav-item
  } //main-nav

  .navbar-brand {
      margin-top: 0.4rem;
  }

  .navbar-toggler {
      background-image: url("../img/icon.png");
      color: $basicBlue;
      cursor: pointer;
  } //navbar-toggler

} //end mediaq 991

@media (max-width: 767px) {
  .site-header {
    background: $lightGray;
  }

  .navbar {
    padding: 0.2rem;
  }

  .navbar-brand {
    margin-top: 0;
    img {
      display: none;
    } //img
  } // .navbar-brand

} //767 end

@media (max-width: 575px) {
  .navbar-brand {
    margin-left: 1rem;
  }

  .navbar-toggler {
    margin-right: 1rem;
  }

} //575 end
