//******************************************************************************
//***************************Styles for the packages part***********************
.licenses {
  line-height: 2rem;
}

.package-list {
  width: 250px;
  margin: 0 auto;
}

.package-img {
  border-radius: 50%;
  overflow: hidden;
  margin: 10px;
  border:2px solid transparent;
  cursor: pointer;
  transition: 1s;
  &.slick-center {
    border-color:$basicBlue;
    box-shadow: 0 0 20px 1px rgba(0,0,0,.15);
    transform: scale(1.2);
    cursor: default;
  } //slick-center
} //.package-img

.slick-track {
  height: auto!important;
}

.package-meta {
   h4 {
    color: rgb(73, 80, 87);
    font-family: $sf;
    font-weight: 500;
    font-size: 1rem;
  }
} //.package-meta

@media (max-width: 575px) {
  padding-left: 1rem;
  padding-right: 1rem;
} //575 end
