//******************************************************************************
//**************************PARTNERS STYLE**************************************
.sectionPartners {
  @extend .sectionBanner;
    color: $basicBlue;
    margin:0;
    text-shadow: none;
}

.partnersBg {
  background: url(../img/end1.jpg) no-repeat fixed 0 0 ;
  background-size: cover;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 1rem;
  z-index: 1;
  color: #fff;
//after pseudoelement for overlay purposes
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background:rgba($mainWhite, 0.65);
   }//after
}//partnersBg

.partners-image {
     height: 150px;
     width: 200px;
     text-align: center;
     img {
       height:100%;
     }
} //.partner-image

.owl-stage-outer {
    padding: 2rem !important;
}
